nav {
    background-color: rgb(255, 196, 0);
    color: black;
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;
    width: 100%;
    top: 0;
    padding: 20px 40px;

}